h1:hover{
    color: blue;
    background-image: url("/img/logo.png");
    width: 500px;
    height: 500px;
    background-size: auto;


}


input:focus{
    background-color: antiquewhite;
}

a:visited{
    color: red;
}