.div2{
    width: 110px;
    height: 110px;
    background-color: yellow;
    position: relative;
    animation: arjun1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    

}
img{
    border-radius: 50%;
}
@keyframes arjun1
{ 
    0%{background-color: aqua; left: 0px; top: 0px;}
    25%{background-color: rgb(255, 234, 0); left: 300px; top: 300px;}
    50%{background-color: rgb(10, 241, 26); left: 0px; top: 200px;}
    100%{background-color: rgb(255, 0, 221); left: 0px; top: 0px;}
}

.div1{
    width: 50px;
    height: 50px;
    background-color: rgb(17, 0, 255);
    border-radius: 50%;
    position: relative;
    animation: arjun2;
    animation-duration: 3s;
    
    animation-iteration-count: infinite;

}
@keyframes arjun2
{ 
    0%{background-color: aqua; left: 0px; top: 0px;}
    100%{background-color: rgb(255, 0, 221); left: 0px; top: 500px;}
}